body {
  margin:0;
  font-family: 'Segoe UI';
  background: radial-gradient(circle at top, #111, #050505);
  color: white;
}

.wrapper {
  width: 420px;
  margin: 60px auto;
}

.header {
  text-align: center;
}

.badge {
  background: rgba(255,215,0,0.1);
  color: gold;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
}

h1 {
  color: gold;
  margin: 10px 0;
}

.card {
  margin-top:20px;
  background: rgba(20,20,20,0.8);
  padding:20px;
  border-radius:20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(255,215,0,0.05);
}

.progress-top {
  display:flex;
  justify-content:space-between;
  font-size:14px;
}

.bar {
  height:8px;
  background:#222;
  border-radius:10px;
  margin:10px 0;
}

#barFill {
  height:100%;
  width:0%;
  background: linear-gradient(90deg,gold,#ffd700);
  border-radius:10px;
  transition:0.4s;
}

.task {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px;
  margin:10px 0;
  border-radius:12px;
  background:#1a1a1a;
  transition:0.3s;
}

.task:hover {
  transform: scale(1.02);
  box-shadow:0 0 15px rgba(255,215,0,0.1);
}

.task small {
  color:#aaa;
}

.task button {
  background: linear-gradient(45deg,gold,#ffcc00);
  border:none;
  padding:8px 15px;
  border-radius:8px;
  cursor:pointer;
}

.task.done {
  background:#0f2f1f;
  border:1px solid #00ff88;
  box-shadow:0 0 15px #00ff8840;
}

.task.done button {
  background:#00ff88;
  color:black;
}

#unlock {
  width:100%;
  margin-top:15px;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#333;
  color:#777;
}

#unlock.active {
  background: linear-gradient(45deg,gold,#ffcc00);
  color:black;
  box-shadow:0 0 20px rgba(255,215,0,0.5);
}
