body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

.container {
  width: 420px;
  margin: 50px auto;
}

.top {
  text-align: center;
}

.badge {
  background: #1a1a1a;
  color: gold;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
}

h1 {
  color: gold;
  margin: 10px 0;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.progress-bar {
  height: 8px;
  background: #222;
  border-radius: 10px;
  margin: 10px 0;
}

#progress {
  height: 100%;
  width: 0%;
  background: gold;
  border-radius: 10px;
  transition: 0.3s;
}

.task {
  background: #1a1a1a;
  margin: 10px 0;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.task small {
  color: #aaa;
}

.task button {
  background: gold;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.task.done {
  background: #0f2e1c;
  border: 1px solid #00ff88;
}

.task.done button {
  background: #00ff88;
  color: black;
}

.unlock {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #333;
  color: #999;
  cursor: not-allowed;
}

.unlock.active {
  background: gold;
  color: black;
  cursor: pointer;
}
